<?xml version="1.0"?>
<config>
    <modules>
        <Rohde_BetterSeo>
            <version>1.0.0</version>
        </Rohde_BetterSeo>
    </modules>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <rohde_betterseo>
                        <type>singleton</type>
                        <class>Rohde_BetterSeo_Model_Observer</class>
                        <method>alternateLinks</method>
                    </rohde_betterseo>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <global>
        <page />
        <helpers>
            <betterseo>
                <class>Rohde_BetterSeo_Helper</class>
            </betterseo>
        </helpers>
        <models>
            <betterseo>
                <class>Rohde_BetterSeo_Model</class>
            </betterseo>
        </models>
        <resources />
        <extraconfig />
        <blocks />
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <betterseo>
                                            <title>Better SEO</title>
                                        </betterseo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Rohde_BetterSeo>
                    <files>
                        <default>Rohde_BetterSeo.csv</default>
                    </files>
                </Rohde_BetterSeo>
            </modules>
        </translate>
    </adminhtml>
</config>